body {
   font-family: Arial, sans-serif;
   background-color: #fcc9b5;
   color: black;
}

header {
   background-color: #fcc9b5;
   color: white;
   padding: 20px;
   text-align: center;
}

.main-header img {
  max-height: 144px;           /* resize logo if needed */
  width: auto;                /* preserve aspect ratio */
  flex-shrink: 0;             /* prevent squishing on narrow screens */
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;        /* space between links */
}

.main-header h1 {
  margin: 0;                  /* kill default margins */
  font-size: 1.5rem;
  font-weight: 700;
}

/* Navigation */
.main-nav {
  display: flex;
  gap: 1.25rem;               /* spacing between links */
}

.main-nav a {
  text-decoration: none;
  font-weight: 600;
  color: #000;
}

.main-nav a:hover {
  text-decoration: underline;
}

footer {
   background-color: #fcc9b5;
   color: black;
   height: 80px; 
   padding: 10px;
   text-align: center;
}

#grid-container { 
   background: #b5d9fc;
   display: grid;
   grid-template-columns: 33% 34% 33%;
}

.grid-container > h2 {
   font: arial;
   font-size: 14pt;
   text-align: center;
}
